<!DOCTYPE html>
<!--
 * @Description: 
 * @version: 
 * @Author: 李继玄（lijixuan@quclouds.com）
 * @Date: 2020-09-16 20:44:14
 * @LastEditors: 李继玄（lijixuan@quclouds.com）
 * @LastEditTime: 2020-09-17 10:56:35
 * @FilePath: /MVVM/test1/index.html
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="name">
    {{name}}
    <input type="text" v-model="form.a">
    {{form.a}}
    <hr>
    <ul>
      <li>
        <div>{{form.b.c}}</div>
      </li>
    </ul>
    
  </div>
  <script src="./watcher.js"></script>
  <script src="./compile.js"></script>
  <script src="./observer.js"></script>
  <script src="./MVVM.js"></script>
  <script>
    let vm = new Mvvm({
      el: '#app', // documen.getElementById('#app');
      data: {
        name: '李大玄',
        form: {
          a: 'da',
          b: {
          	c: 1
        	}
        }
      }
    })
  </script>
</body>
</html>