<!DOCTYPE html>
<!--
 * @Description: 
 * @version: 
 * @Author: 李继玄（lijixuan@quclouds.com）
 * @Date: 2020-09-18 09:40:50
 * @LastEditors: 李继玄（lijixuan@quclouds.com）
 * @LastEditTime: 2020-09-18 17:04:39
 * @FilePath: /MVVM/test7/index.html
-->
<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="name">
    <hr>
    name: {{name}}
    <hr>
    <input type="text" v-model="form.a">
    <ul>
      <li>
        <div>{{name}}</div>
        {{getNameAge}}
      </li>
    </ul>
    <hr>
    form.a: {{form.a}}
  </div>
  <script src="./watcher.js"></script>
  <script src="./observer.js"></script>
  <script src="./compile.js"></script>
  <script src="./mvvm.js"></script>
  <script>
    let vm = new Mvvm({
      el: '#app', // document.querySelector('#app')
      data: {
        form: {
          a: 12
        },
        age: 18,
        name: '李大玄'
      },
      computed: {
        getNameAge() {
          return this.name + this.age;
        }
      }
    });
  </script>
</body>
</html>